* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
  color: #fff;
}

header {
  margin: 0 auto;
  height: 95vh;
  background: linear-gradient(to right,rgba(135, 55, 45, 0.50),rgb(60, 40, 48,0.50)), url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  text-align: center;
  font-weight: 700;
}

h1 {
  padding-top: 5%;
}

i {
  font-size: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 15px 20px;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
}

#app {
  background-color: rgb(249, 230, 188);
  padding-bottom: 4%;
}

h2 {
  color: #000;
}

.image-box {
 text-align: center;
}

img {
  max-height: 300px;
}

.bar-wrapper {
  width: 20rem;
  height: 4rem;
  background-color: tomato;
  margin: 0 auto;
  color: #fff;
}

.bar-wrapper p {
  text-align: center;
  margin-bottom: 0;
  padding-top: 18px;
}

/* Button section */
button {
  width: 11rem;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
}

#btn-start {
  background-color: rgb(242, 62, 146);
  display: block;
  margin: 1.5% auto;
}

.btn-wrapper {
  text-align: center;
}


#btn1,
#btn2,
#btn3,
#btn4 {
  margin: 1.5% 0.3rem;;
}


#btn1 {
  background-color: rgb(70, 137, 162);
}
#btn2 {
  background-color: rgb(246, 160, 128);
}
#btn3 {
  background-color: rgb(159, 238, 157);
}
#btn4 {
  background-color: rgb(143, 150, 154);
}

footer {
  margin: 0 auto;
  background-color: rgba(135, 55, 45);
  padding: 2% 0;
}

footer p {
  font-size: 1.2rem;
}
